@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  background-color: #08070b;
}
.password {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #817d92;
  margin-top: 64px;
}
/*SCREEN*/
.screen {
  background-image: url(./starter-code/assets/images/icon-copy.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  width: 91.46%;
  height: 64px;
  display: block;
  margin: 16px auto;
  border: none;
  background-color: #24232c;
  cursor: pointer;
  font-size: 32px;
  line-height: 42px;
  color: #e6e5ea;
  mix-blend-mode: normal;
  opacity: 0.25;
}
/*MAIN*/
.main {
  padding: 0 16px 16px;
  background-color: #24232c;
  width: 91.46%;
  margin: 0 auto;
}
/*CHARACTER LENGTH*/
h4 {
  font-size: 16px;
  line-height: 21px;
  color: #e6e5ea;
}
.length {
  font-size: 24px;
  line-height: 32px;
  color: #a4ffaf;
}
.characterlength {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*RANGE INPUT*/
.range {
  background: #18171f;
  -webkit-appearance: none;
  outline: none;
  width: 84.8%;
  height: 8px;
  margin: 18px auto 42px;
  display: block;
  position: relative;
  background: linear-gradient(
    to right,
    rgba(164, 255, 175, 1) 0%,
    rgba(164, 255, 175, 1) 50%,
    rgba(24, 23, 31, 1) 50%,
    rgba(24, 23, 31, 1)
  );
}
input[type="range"]::-webkit-slider-thumb {
  background-color: #e6e5ea;
  width: 28px;
  height: 28px;
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
}
.checkbox {
  margin-top: 16px;
  align-items: center;
  display: flex;
}
.option {
  font-size: 16px;
  line-height: 21px;
  color: #e6e5ea;
  margin-left: 20px;
}
.check {
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  border: 2px solid #e6e5ea;
}
.check:checked {
  background: #a4ffaf;
  background-image: url(./starter-code/assets/images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #a4ffaf;
}
.strength {
  background-color: #18171f;
  width: 91.46%;
  height: 56px;
  margin: 32px auto 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  width: 10px;
  height: 28px;
  border: 2px solid #e6e5ea;
}
.medium {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 16px;
}
.streng {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #817d92;
  padding-left: 16px;
}
.med {
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #e6e5ea;
  margin-right: 0.5rem;
}
.btn {
  background-color: #a4ffaf;
  width: 91.46%;
  height: 56px;
  font-size: 16px;
  line-height: 21px;
  color: #24232c;
  font-weight: 700;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background-image: url(./starter-code/assets/images/icon-arrow-right.svg);
  background-repeat: no-repeat;
  background-position: 65% center;
}
.btn:hover {
  background-color: #24232c;
  color: #a4ffaf;
  border: 2px solid #a4ffaf;
  background-image: url(./starter-code/assets/images/Shape.png);
  background-repeat: no-repeat;
  background-position: 65% center;
}
@media (min-width: 1440px) {
  .screen,
  .main {
    width: 540px;
  }
  .range,
  .strength,
  .btn {
    width: 476px;
  }
}
